body {
    background-color:#8f5d3c;
    font-family: "Lexend Exa", sans-serif;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
        
}
    form {
        /* display: flex;
        justify-content: flex-end; */
        width: 100%;
        border: blue solid 5px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }
    .right{
        /* display: flex;
        align-items: center;
        justify-content: flex-end;
        border: blue solid 5px; */
        width: 50%;
    }
.card {
    background-color: #412819;
            padding: 5% 10%;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* width: 600px;
    height: 400px; */

    
}
.card label {
    display: block;
    margin-bottom: 1px;
    color: #E2AF71;
    p
}
.card input {
    background-color: #E2AF71;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    color: #412819;
    margin: 15px auto;
}
.card button {
    font-family: "Lexend Exa", sans-serif; 
    color: #412819;
    font-size: 25px;
    background-color: #E2AF71;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 200px;

    
}
.linha {
    /* display: flex-end;     */
    margin-top: 20px;
p { color: #E2AF71;}
a { color:#412819}
}

 

.textao {
  display: flex;
  color:#412819;
}

