body {
    background-color:#8f5d3c;
    font-family: "Lexend Exa", sans-serif;
    height: 100vh;
    margin: 0;
}
img {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 20px;  
}
.titulo {
    display: flex;
    color: #E2AF71;
    font-size: 35px;
    position: absolute;
    top: 35px;
    left: 150px;
}
.chiclete {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

    .left {
        display: flex;
        align-items: center;
        width: 50%;
    }
    .right{
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-end;
        padding-right: 0;
    }
        .card {
            margin-top: 50px;
    background-color: #412819;
    padding: 5% 5%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-sizing: border-box;
    width: 100%;
    min-height: 500px;

}
.card label {
    display: block;
    color: #E2AF71;
    font-size: 20px;
    margin-left: 15px;
}
.card input {
    background-color: #E2AF71;
    width: 100%;
    padding:  30px 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    color: #412819;
    margin: 15px auto;
    font-size: 20px;
}
.card button {
    font-family: "Lexend Exa", sans-serif; 
    color: #412819;
    font-size: 25px;
    background-color: #E2AF71;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 300px;

    
}
.linha {
    position: relative;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 170px;


}
.linha p { 
color: #E2AF71}

.linha a { 
 color:#412819}

.textao {
  display: flex;
  color: #E2AF71;
  margin-left: 65px;
  font-size: 50px;
  text-align: center;
  width: 500px;
}

